/*背景图片*/
body{
	background-image: url(p4.jpg);
	background-repeat: repeat;
    background-size: 100% auto;
    font-family: "dengxian";
    font-weight: 500;
    color: grey;
   }

/*必填内容空值提醒字体颜色*/
  .error{
		color: red;
		font-size: small;
	}
  .pass{
    color: green;
    font-size: small;
  }

  /*整体*/
  .table{
  	 margin-left: 7%;
     margin-top:10px; margin-bottom: 30px;
  	 width: 70%;
  	 padding:8% 8% 80% 8%;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-align: left;
     letter-spacing:2px;
     background-color: white ;
     opacity:0.8; /*透明度*/
     border-radius:20px;
     line-height: 24px;
  }

  /*标题样式*/ 
  b{
  	padding:40%;
    text-align:center;
    font-size: x-large;
  }

  /*小号缩进字体*/
.small{
   font-size:small;
   margin-left: 10px;
}

 /*中等顶格字体*/
.medium{
   margin-left:-10px;
   font-size:medium;
}

/*边框美化*/
input{
   /*border-radius: 3px;*/
   border-style:solid;
   /* border-width:1px 0 1px 1px;
  border-color:#b4b4b4 #eeeeee #d8d8d8 #bbbbbb;*/
   border:none; border-bottom:1px solid gray;outline: none;
}
textarea{
    border-style:solid;
    border-bottom:1px solid gray;outline: none;
}
select{
    border-style:solid;
    border-bottom:1px solid gray;outline: none;
}

/*最后的按钮*/
.finalBt{
   margin:0 30% 20px; width: 40%;line-height: 38px;
   text-align: center;
   font-size: large;
   border-radius: 20px;position: relative; overflow: hidden; color: white;
   border:1px solid white;
   background: -moz-linear-gradient(top,CornflowerBlue ,CornflowerBlue );

}
.finalBt:hover{
   background: -webkit-linear-gradient(top,deepskyblue,#ebeced);
   background: -moz-linear-gradient(top,deepskyblue,deepskyblue);
   background: linear-gradient(top,#f2f3f7,#ebeced);
}
.finalBt:active{
   top:1px;
   box-shadow: 0 1px 3px #a8abae inset,0 3px 0 #fff;
   background: -webkit-linear-gradient(top,deepskyblue,#e4e8ec);
   background: -moz-linear-gradient(top,lightskyblue,lightskyblue);
   background: linear-gradient(top,#e4e8ec,#e4e8ec);
}

